/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #8dcff5, #acecb7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1f1408; /* Mudança de cor para um tom mais atraente */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para um efeito 3D */
}

.back-button:hover {
    background-color: #e68a00; /* Cor mais escura ao passar o mouse */
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.quiz-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #38a7e7;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    width: 100%;
    text-align: left;
    animation: fadeIn 1s ease-out;
    position: relative;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0288d1;
    text-align: center;
}

.question p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

label {
    font-size: 1em;
    color: #555;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #0288d1;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0277bd;
}

#nextBtn {
    background-color: #4caf50;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 0;
    animation: fadeInResult 1s forwards;
}

#result, #finalResult {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInResult {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
